{% extends 'base.html' %}

{% block content %}
<h3>{{ title|capfirst|upper }}
<h1>This is a textbook</h1>
{{ my_html|safe|title }}

<p>Question:</p>
<p>
    {{ my_text }}, {{ my_number }}
    {{ my_list }}
</p>

<ul>
    <li>item 1</li>
    <li>item 2</li>
</ul>

<ul>
{% for abs in my_list %}
    {% if abs == 312 %}
        <li>{{ forloop.counter }} - {{ abs|add:22 }}</li>
    {% elif abs == "Abs" %}
        <li>This is not the network</li>    
    {% else %}
         <li>{{ forloop.counter }} - {{ abs }}</li>
    {% endif %}
   
{% endfor %}
</ul>

<p>Answer: </p>

{% endblock %}